<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="sign.css">
    
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl"></div>
    <div class="login">
    <form action="">
        <h1>Login</h1>
        <label for="">Username</label>
        <input type="text" ng-model="username">
        <label for="">Password</label>
        <input type="password" ng-model="password">
        <button > <a href="immortal.html"> Submit </a></button>
        
    </form>
</div>
</div>
<script>
    var app = angular.module("myApp" , []);
    app.controller("muCtrl" , function($scope){
        $scope.username = {username: "sathvik" , password:"Sathvik@2104" }
        $scope.password = ""
    });
</script>
</body>

</html>